*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 400px;
	margin-left: 0%;
}
.header_menu{
	width: 100%;
	height: 70px;
}
ul{
	list-style-type: none;
}
a{ 
	color: black;
	text-decoration: none;
 }
 .logo{
 	width: 30%;
 	position: absolute;
 	margin-top: 25px;
 	margin-left:4%;
 	font-family: 'Overpass', sans-serif;
 	font-size: 20px;
 }
 .menu{
 	width: 70%;
 	position: absolute;
 	margin-top: 25px;
 	margin-left: 30%;
 	font-family: 'Overpass', sans-serif;
 }
 .header_menu li{
 	width: 10%;
 	float: left;
     margin-left:10%;
     font-size: 13px;

 }
 header img{
 	width: 100%;
 	height: 300px;
 	margin-left: 0px;
 }
 .div1{
 	width: 80%;
 	height: 300px;
 	margin-left: 15%;
 }
 .div1 h3{
 	margin-left:-12%;
 	height: 100px;
 	font-family: 'Overpass', sans-serif;
 	text-align: center;
 	
 }
 .div1 .creative{
 	width: 100%;
 	height: 200px;
 	float: left;
 	display: inline-block;
 	margin-left: -5%;
 }
 .div1 .solution{
 	width: 20%;
 	height: 200px;
 	float: left;
 	margin-left: 5%;
 	font-family: 'Overpass', sans-serif;
 }
 .div1 .icon{
 	width: 25%;
 	height: 40px;
 	background-color:#dc471b;
 	border-radius: 50%;
 	margin-bottom: 45px;
 	margin-left: 10%;
 }
 .div1 i{
 	color: white;
 	padding-top: 10px;
 	padding-left: 15px;
 }
 .div2{
 	width: 100%;
 	height: 600px;
 	margin-left: 7%;
 	margin-top: 50px;
 }

 .div2 h3{
 	margin-left:40%;
 	font-family: 'Overpass', sans-serif;
 }
 small{
 	margin-left: 10%;
 	font-family: 'Overpass', sans-serif;
 	text-align: center;
 }
 .left{
 	width: 50%;
 	height: 300px;
 	margin-top:50px;
 	float: left;
 }
 .right{
 	width: 50%;
 	height: 300px;
 	margin-top: 50px;
 	float: right;
 }
 .div3{
 	width: 100%;
 	height: 300px;
 	margin-left: 5%;
 	margin-top: 50px;
 }
 .div4{
 	width: 30%;
 	height: 250px;
 	float: left;
 }
 .icon{
 	width: 12%;
 	height: 45px;
 	background-color:#dc471b; 
 	border-radius: 50%;
 	margin-top: 50px;
 	margin-left: 14%;
 	
 }
 .div3 i{ color: white;
 	margin-left: 35%;
 	margin-top: 27%; }
 .div3 .right{
 	width: 70%;
 	height: 200px;
 	margin-top: 0px;
 	margin-top: -45px;
 }
 .purchase{
 	width: 100%;
 	height:250px;
 	background-color:#dc471b;
 	margin-left: 0;
 	color: white;
 }
.purchase h3{
	margin-left: 35%;
	padding-top: 50px;
	clear: both;
}
 .purchase p{
 	text-align: center;
 	margin-top: 20px;
 }
 .a{
 width: 50%;
 height: 100px;
 margin-left: 36%;
 margin-top: 20px;
 }

 .b{
 	width: 25%;
 	height: 30px;
 	float: left;
 	background-color: white;
 	color: black;
 	border-radius: 15px;
 	text-align: center;
 	margin-top: 15px;

 }
 .people{
 	width: 100%;
 	height: 400px;
 	background-color: #f2eeee;
 }
.people h3{
	text-align: center;
	font-family: 'Overpass', sans-serif;
	font-size: 30px;
	padding-top: 40px;
	margin-left: 0px;
}
.john{
	width: 20%;
	height:200px;
	margin-left:3%;
	float: left;
	margin-top: 50px;
}
.people img{
	margin-left: 25%;
	border-radius: 20px;
}
.john p{
text-align: center;
}
.john h4{
	font-family: 'Overpass', sans-serif;
	font-size: 20px;
	text-align: center;
}
footer{
	width: 100%;
	height: 500px;
	color: white;
	background-color: #3d3c3c;
	display: inline-block;
}
.infor1{
	width: 20%;
	height: 350px;
	float: left;
	display: inline-block;
	margin-left: 11%;
	margin-top: 50px;
	font-family: 'Overpass', sans-serif;
}
footer h4{
	font-size: 20px;
	margin-bottom: 50px;
}
footer a{
	color: white;
}
footer .link_{
	margin-top: 5px;
}
footer .link_{
	height: 60px;
	border-bottom: 1px solid white;
}
footer p{
	padding-top: 5%;
}
.infor2{
	width: 20%;
	height: 350px;
	float: left;
	display: inline-block;
	margin-left: 11%;
	margin-top: 50px;
	font-family: 'Overpass', sans-serif;
}
.infor2 .fa{
	width: 100%;
	height: 50px;
	border-top: 1px solid white;
	margin-top: 10px;
}

.fa p{
	margin-left: 25px;
	margin-top:-40px;

}
.infor2 .fa-home{
	border: none;
}
.foot{
	width: 100%;
	height: 100px;
	margin-left:-950px;
	margin-top: 95px;
	position: absolute;
	float: left;
	display: inline-block;
	background-color: black;
}
.foot p{
	margin-left: 10%;
	padding-top: 40px;
}
.link1{
	width: 50%;
	height: 30px;
	margin-left: 850px;
	margin-top: -20px;

}
.link1 li{
	width:12%;
	float: left;
}
@media all and (max-width: 568px){
	.header_menu .menu{
		width:70%;
		margin-top: 30px;
		margin-left: 25%;
	}
	.header_menu li{
	width: 9%;
    float: left;
    margin-left: 9%;
    font-size: 8px;
	}
	.div1 .creative {
    width: 125%;
    height: 200px;
    float: left;
    display: inline-block;
    margin-left: -26%;
}
.div1 .solution {
    width: 10%;
    height: 200px;
    float: left;
    margin-left: 13%;
    font-family: 'Overpass', sans-serif;
}
.div1 .icon {
    width: 100%;
    height: 40px;
    background-color: #dc471b;
    border-radius: 50%;
    margin-bottom: 45px;
    margin-left: 10%;

}
.div2 h3 {
    margin-left: 30%;
    font-family: 'Overpass', sans-serif;
}
small {
    margin-left: 0%;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
 .div2 .left {
    width: 80%;
    height: 200px;
    margin-top: 50px;
    float: left;
    margin-left: 10%;
}
.div2 .right {
    width: 85%;
    height: 150px;
    margin-top: 50px;
    margin-left: 10%;
}
.div3 {
    width: 100%;
    height: 500px;
    margin-left: 3%;
    margin-top: -90px;
}
.div4 {
    width: 90%;
    height: 150px;
    float: left;
}
.purchase {
    width: 100%;
    height: 250px;
    background-color: #dc471b;
    margin-left: 0;
    color: white;
}
.purchase h3 {
    margin-left: 25%;
    padding-top: 50px;
    clear: both;
}
.a {
    width: 100%;
    height: 92px;
    margin-left: 10%;
    margin-top: 20px;
}
.b {
    width: 40%;
    height: 30px;
    float: left;
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
}
.people {
    width: 100%;
        height: 1117px;
    background-color: #f2eeee;

}
.john {
    width: 100%;
    height: 200px;
    margin-left: 1%;
    float: left;
    margin-top: 50px;
}
footer {
    width: 100%;
    height: 850px;
    color: white;
    background-color: #3d3c3c;
    display: inline-block;
}
.infor1 {
    width: 80%;
    height: 200px;
    float: left;
    display: inline-block;
    margin-left: 10%;
    margin-top: 25px;
    font-family: 'Overpass', sans-serif;
}
footer h4 {
    font-size: 15px;
    margin-bottom: 8px;
}
footer p {
    padding-top: 5%;
}
footer .link_ {
    height: 50px;
    border-bottom: 1px solid white;
}
.infor2 {
    width: 80%;
    height: 200px;
    float: left;
    display: inline-block;
    margin-left: 11%;
    margin-top: 50px;
    font-family: 'Overpass', sans-serif;
}
.foot {
    width: 97%;
    height: 100px;
    margin-left: -31px;
    margin-top: 35px;
    position: absolute;
    float: left;
    display: inline-block;
    background-color: black;
}
.foot p {
    margin-left: 4%;
    padding-top: 10%;
}
.link1 {
    width: 150%;
    height: 30px;
    margin-left: 1%;
    margin-top: 0px;
}
.link1 li {
    width: 13%;
    float: left;
}
}
@media all and (max-width: 768px){
	.header_menu .menu{
		width:70%;
		margin-top: 30px;
		margin-left:33%;
	}
	.header_menu li{
	width: 9%;
    float: left;
    margin-left: 9%;
    font-size: 8px;
	}
	.div1 .creative {
    width: 125%;
    height: 200px;
    float: left;
    display: inline-block;
    margin-left: -24%;
}
.div1 i{
	.div1 i {
    color: white;
    padding-top: 10px;
    padding-left: 25px;
}

}
.div1 .solution {
    width: 10%;
    height: 200px;
    float: left;
    margin-left: 13%;
    font-family: 'Overpass', sans-serif;
}
.div1 .icon {
    width: 86%;
    height: 40px;
    background-color: #dc471b;
    border-radius: 50%;
    margin-bottom: 45px;
    margin-left: 10%;

}
.div2 h3 {
    margin-left: 30%;
    font-family: 'Overpass', sans-serif;
}
small {
    margin-left: 0%;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
 .div2 .left {
    width: 80%;
    height: 200px;
    margin-top: -20px;
    float: left;
    margin-left: 10%;
}
.div2 .right {
    width:90%;
    height: 150px;
    margin-top:170px;
    margin-left: 0%;
}
.div3 {
    width: 100%;
    height: 500px;
    margin-left: 3%;
    margin-top:170px;
}
.div4 {
    width: 90%;
    height: 150px;
    float: left;
}
.div4 .icon {
    width: 11%;
    height: 57px;
    background-color: #dc471b;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 10%;
}

.purchase {
    width: 100%;
    height: 250px;
    background-color: #dc471b;
    margin-left: 0;
    color: white;
}
.purchase h3 {
    margin-left: 25%;
    padding-top: 50px;
    clear: both;
}
.a {
    width: 100%;
    height: 92px;
    margin-left: 10%;
    margin-top: 20px;
}
.b {
    width: 40%;
    height: 30px;
    float: left;
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
}
.people {
    width: 100%;
        height: 1117px;
    background-color: #f2eeee;
}
.people img{
	margin-left: 40%;
}
.john {
    width: 100%;
    height: 200px;
    margin-left: 1%;
    float: left;
    margin-top: 50px;
}
footer {
    width: 100%;
    height: 850px;
    color: white;
    background-color: #3d3c3c;
    display: inline-block;
}
.infor1 {
    width: 80%;
    height: 200px;
    float: left;
    display: inline-block;
    margin-left: 10%;
    margin-top: 25px;
    font-family: 'Overpass', sans-serif;
}
footer h4 {
    font-size: 15px;
    margin-bottom: 8px;
}
footer p {
    padding-top: 5%;
}
footer .link_ {
    height: 50px;
    border-bottom: 1px solid white;
}
.infor2 {
    width: 80%;
    height: 200px;
    float: left;
    display: inline-block;
    margin-left: 11%;
    margin-top: 50px;
    font-family: 'Overpass', sans-serif;
}
.foot {
    width: 100%;
    height: 100px;
    margin-left: -81px;
    margin-top: 35px;
    position: absolute;
    float: left;
    display: inline-block;
    background-color: black;
}
.foot p {
    margin-left: 4%;
    padding-top: 4%;
}
.link1 {
    width: 150%;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
}
.link1 li {
    width: 13%;
    float: left;
}
}

@media all and (max-width: 1200px){}
@media all and (max-width: 996px){}


