.khung{
	width: 600px;
	height: 170px;
	border: 1px solid black;
	background-color: #c1cDc1;
	

}


.dong1{
	width: 100%;
     height: 65px;
     display: inline-block;
     }
     .menu{
     	width: 150px;
     	height: 50px;
     	float: left;
     	
     }
.dong2{
	width: 100%;
    height: 50px;
    float: left;
    display: inline-block;
}
.title:hover{
	color: white;
	text-decoration: underline;
}